/* Login.css */

body {
    background-color: #ffe4e1; /* Rosa claro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: hsl(50, 91%, 87%); /* Ouro */
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #fff; /* Branco */
    background-color: hsl(0, 92%, 75%); /* Rosa escuro */
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: hsl(0, 92%, 75%); /* Rosa escuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: hsl(356, 70%, 87%); /* Rosa mais CLARO ao passar o mouse */
  }
  
  p {
    margin-top: 10px;
    font-weight: bold;
    color: #ff0000; /* Vermelho para mensagens de erro */
  }
  